@font-face {
    font-family: holy;
    src: url(fuentes/holysthic/Holysthic.ttf);
}
.st1{
    background-color: rgb(148, 228, 111);
    background-image: radial-gradient(circle at 48.45% 32.29%, #9d5eb7 0, #804cb2 16.67%, #5c3aad 33.33%, #1a2ba8 50%, #0021a3 66.67%, #001d9e 83.33%, #00179a 100%);
    margin-right: 60px;
}
.div1{
    background-color: burlywood;
    font-size: 30px;
    width: 100%;

}

.tabla1{
    
    background-image: radial-gradient(circle at 94.62% 38.04%, #fffda4 0, #ffffa2 5%, #ffffa1 10%, #f6ffa0 15%, #e5ffa0 20%, #d3ffa1 25%, #beffa3 30%, #a7fda6 35%, #8dfaaa 40%, #6cf7af 45%, #3cf2b5 50%, #00edbd 55%, #00e8c6 60%, #00e4d1 65%, #00dfdd 70%, #00dbe9 75%, #00d7f6 80%, #00d3ff 85%, #00cfff 90%, #00ccff 95%, #00c8ff 100%);
    border-radius: 15px;
}
.tabla2{
    background-image: url(https://t3.ftcdn.net/jpg/04/70/27/74/240_F_470277412_FMl8tCJJ92YKnxG4askV7XcG5NDG7iyT.jpg);
    margin: 20px;
    border-radius: 15px;
    padding: 30px;
    color: cornsilk;
}
.table3{
    background-color: darkcyan;
    background-image: url(https://i.gifer.com/1frW.gif);
    color: darkorange;
}
.titulo1{
    font-size: 30px;
    font-family:holy;
}
.tex1{
    text-align:center;
    font-size: 20px;
    padding-right: 25px;

}
.tex2{
    font-size: 20px;
    padding: 15px;
}
.tex3{
    color: rgb(248, 162, 105);
}
.tex4{
    color: white;

}
.bo{
    border-radius: 30px;
    margin: 10px;
}
.foot{
}