.st1{
    background-color: rgb(148, 228, 111);
}

.tabla1{
    background-color: rgb(112, 124, 233);
    border: 4px;
    width: 100%;
}
.tex1{
    text-align: center  ;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}