body {
    background-image: radial-gradient(circle at 50% -20.71%, #04242c 0, #0b3646, #042e3f 50%, #04242c 75%, #0b3646 100%);
    background-size: cover;
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.6em;
    background-repeat: no-repeat;
    padding: 5em;
}

.position {
    position: absolute;
    top: 90px;
    left: 78%;
    width: 20%;
}

.position2 {
    position: absolute;
    top: 100px;
    left: 50px;
    width: 14%;
}

.border3 {
    width: 34%;
    border: solid #2bbcf2 10px;
    border-radius: 30px;
    padding-left: 2px;
    background-color: #2bbcf2;
}

.icono {
    list-style-image: url("https://live.staticflickr.com/65535/51744476631_91bfa7e459_o.png");
}

.alink {
    text-decoration: none;
    color: white;
}

.slider {
    position: relative;
    background-image: url("https://live.staticflickr.com/65535/51748595861_70a951b447_o.png");
    background-size: 15%;
    min-height: 500px;
    border: solid 7px #2bbcf2;
    border-image-slice: 75;
    border-radius: 10px;
    width: 800px;
    margin-left: 15%;
    margin-right: 30%;
    margin-top: 2%;
    overflow: hidden;
}

.slider .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 50% 50%);
}

.slider .slide.active {
    clip-path: circle(150% at 50% 50%);
    transition: 2s;
}

.slider .slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .slide .info {
    position: absolute;
    color: black;
    background: rgba(255, 255, 255, 0.3);
    width: 30%;
    padding-left: 20px;
    border-radius: 5px;
    box-shadow: 1px 4px 8px 1px rgb(43, 188, 242);
}

.slider .slide .info h2 {
    font-size: 1.5em;
    font-weight: 800;
}

.navigation {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slider:hover .navigation {
    opacity: 1;
}

.prev-btn,
.next-btn {
    z-index: 999;
    font-size: 2em;
    color: #222;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    cursor: pointer;
}

.prev-btn {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.next-btn {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.navigation-visibility {
    z-index: 999;
    display: flex;
    justify-content: center;
}

.navigation-visibility .slide-icon {
    z-index: 999;
    background: rgba(255, 255, 255, 0.5);
    width: 20px;
    height: 10px;
    transform: translateY(-50px);
    margin: 0 6px;
    border-radius: 2px;
    box-shadow: 1px 4px 8px 1px rgb(43, 188, 242);
}

.navigation-visibility .slide-icon.active {
    background: #043c54;
}

@media (max-width: 900px) {
    .slider {
        width: 100%;
    }
    .slider .slide .info {
        position: relative;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 500px) {
    .slider .slide .info h2 {
        font-size: 1.8em;
        line-height: 40px;
    }
    .slider .slide .info p {
        font-size: 0.9em;
    }
}

.foot {
    background: #b62333;
    position: absolute;
    left: 0;
    bottom: 1;
    height: 150px;
    min-width: 1060px;
    width: 100%;
    font-size: 14px;
    max-width: 100%;
    display: flex;
    text-align: justify;
    justify-content: space-between;
    padding-bottom: 20px;
    border-top: solid white 3px;
}

.copyright {
    color: white;
    padding-left: 20px;
    justify-content: space-between;
}

.fondo2 {
    background-color: #043c54;
    border: solid 3px #2bbcf2;
    width: 70%;
    border-radius: 30px;
    padding: 1%;
    float: center;
}

.fondo3 {
    max-width: 45%;
    max-height: 45%;
}

.fondo4 {
    background: #b62333;
    width: 50%;
    border-radius: 30px;
    border-radius: 20px;
    border: solid #2bbcf2;
    color: white;
}

.centrado {
    border-radius: 10px;
    width: 100%;
    float: center;
    margin: 20px;
    border: 10px solid #2bbcf2;
}

.card {
    border: solid #2bbcf2;
    padding: 7vh;
    width: 13%;
    position: absolute;
    right: 3%;
    bottom: auto;
    padding-right: 5em;
    border-radius: 30px;
    background-color: #041c24;
    float: right;
}

.border {
    border: solid 1px #2bbcf2;
    background-color: #2bbcf2;
    width: 100%;
    right: 100%;
    margin: 10px;
    border-radius: 10px;
}

.fondotext {
    background-color: #b62333;
    border: solid 1px #2bbcf2;
    border-radius: 5px;
}

.text {
    color: #2bbcf2;
    padding-left: 20px;
}

.text3 {
    color: white;
    text-align: justify;
    padding-left: 20px;
}

.text2 {
    border: solid #2bbcf2 6px;
    background: #043c54;
    border-radius: 30px;
}

.fondotext2 {
    background-color: #043c54;
    border: solid 1px #2bbcf2;
    border-radius: 5px;
}

.container {
    width: 140%;
    color: white;
    text-align: left;
    align-items: center;
}

.cuadro2 {
    background-color: #043c54;
    border: solid 3px #2bbcf2;
    border-radius: 15px;
    color: #2bbcf2;
    text-align: center;
}

.pad {
    padding-left: 400px;
}