@import url('reset.css');
@import url('fuentes_angel.css');


body {
    background-image:url(../imagenes/img_angel/videojuegos.jpg);
    background-size:cover;
    color:white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:20px; 
}

/*HEADER*/

header {
    background-color:#F1C40F;
    box-shadow:0px 15px 0px #540760;
    height:100%;
    padding:5px 0px;
    width:100%;
}

/*Remueve los subrayados por defecto cuando implementamos: a*/
a {   
    color:white;
    text-decoration:none;
}

/*Posición del título de la página*/
#titulo_pag{ 
    margin:30px;
    text-align:center;
}

/*Color, tamaño y fuente del título de la página*/
#titulo_pag a{
    color:#000; /*El color únicamente cambia implementado aquí*/
    font-family:computer;
    font-size:70px;
}






#contenido_completo {   
    clear:both; 
    margin:auto;                                                                                         
    width:1200px;
}

#principal {
    float:left;
    padding-top:65px;
    width:100%;
}






/*BIENVENIDA*/

#bienvenidos{
    background-color:#0471B5;
    border-radius:10px;
    box-shadow:0px 10px 10px #000; /*Derecha, abajo y difuminado*/
    float:left;
    margin:0px 0px 50px 0px; /*Arriba, derecha, abajo e izquierda. Espacio entre bienvenida y proyectos*/
    padding:0px; /*Nos puede ser de utilidad en un futuro*/
    width:100%;
}

#bienvenidos article {
    line-height:40px; /*Espacio entre los renglones*/
    padding:40px;
}

/*Título*/
#bienvenidos article h2 {
    background-color:#53B51F;
    border-radius:10px;
    font-size:30px;
    font-weight:bold; /*Grueso de la fuente*/
    margin-bottom:30px;
    padding:15px 0px; /*Espacio entre el título y el texto*/
    text-align:center;
}

/*Contenido*/
#bienvenidos article p {
    font-size:25px;
    text-align:justify;
}

#gif_bienvenida {
    border:solid 20px white;
    border-radius:10px;
    display:block;
    margin:auto;
    margin-bottom:30px;
    width:90%; 
}






/*PROYECTOS*/

#proyectos{
    float:left;  
    width:71%;
}

/*Borde de los proyectos*/
#proyectos article{
    background-color:#540760;
    border-radius:10px;
    box-shadow:0px 10px 10px #000; /*Derecha, abajo y difuminado*/
    float:left;
    margin-bottom:20px;
    padding:30px;
}

/*Materia del proyecto*/
#proyectos article h1 {
    background-color:#E0B60D;
    border-radius:10px;
    color:black;
    font-family:sourcesans;
    font-size:25px;
    font-weight:bold;
    margin-left:47%;
    padding:15px;
    text-align:center;
    width:50%;
}

#proyectos article h2 {
    font-weight:bold;
}

#proyectos article .fecha{
    color:#3498DB; 
    font-size:15px;  
    margin-bottom:5px;                                                                                 
}

#proyectos article img{
    border-radius:10px;
    float:left;
    height:150px;
    margin-right:30px;
    
}

/*Contenido del proyecto*/
#proyectos article p{
    font-size:17px;
    line-height:30px; /*espaciando entre los renglones*/
    text-align:justify;
}






/*SIDEBAR*/

aside {
    background-color:#53B51F;
    border-radius:10px;
    float:right; /*interesantes interacciones*/                                                               
    padding:20px 0px;
    text-align:center;
    width:22.5%;
}

/*Anuncio de recomendaciones*/
#contenido_juegos h3{
    color:white;
    background-color:#0471B5;
    border-radius:10px;
    font-size:25px;
    font-weight:bold;
    line-height:20px;
    margin:auto;
    padding:20px; /*Superior-inferior y valor en ambos laterales*/
    width:70%;
}

/*Título de videojuegos*/
#contenido_juegos ul li{
    border-radius:10px;
    color:black;
    font-size:20px;
    font-weight:500; /*Grueso de la fuente*/
    margin:20px 20px 0px 20px;
    padding:15px 0px; /*Superior y valor en ambos laterales*/
}

#contenido_juegos ul li:hover {
    background-color: #0471B5;
    color: white;
}

/*Portada de videojuegos*/
#contenido_juegos ul a li img {
    border:solid 2px white;
    border-radius:10px; 
    margin-top:15px;
    width:80%;
}






/*CONTACTOS*/

#contactos {
    border-radius:10px;
    float:left;
    margin:50px 0px;
    text-align:center;
    width:100%;
}

/*Título*/
#contactos h1 {
    background-color:#E0B60D;
    border-radius:10px;
    color:black;
    font-size:32px;
    font-weight:bold;
    margin-bottom:30px;
    padding:25px;
}

/*Encierro de integrante e imagen*/
#contactos table tr th {
    border-radius:10px;
    padding:25px;
    width:25%;
}

#contactos table tr th:hover {
    background-color:#E0B60D;
}

/*Nombre integrantes*/
#contactos table tr th a{
    color:white;
    letter-spacing:1px;
    font-family:computer;
    font-size:35px;
    font-weight:bold;
}

#contactos table tr th a:hover {
    color: black;
}

#contactos table tr th a img {
    border-radius:100%;
    margin-top:25px;
    width:90%;
}






/*FOOTER*/

#copyright{
    background-color:black;
    color:white;
    float:left;
    height:100%;
    padding:30px 0px;
    text-align:center;
    width:100%;
}